<!---This page will get user input then output translated code when button is clicked -->
<!DOCTYPE html>
<html lang ="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible"content="ie-edge">
        <title> Program Translation </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    </head> 
<body>
 
    <div id="particles-js">

    <div class="btext">    
    
        <p style = "text-align: center;"> When You Enter Your Code It'll Appear In The Right Box Below!</p>
        <p id="arrowText">Enter Your Code Here!</p>

    <div id="box">
        
        <div style="float:left;">

            <form action="{{ url_for('translation')}}" method="POST">
                <textarea id ="textarea1" class ="form-control" placeholder="{{placeholderT}}" name = inputCode ></textarea> 
            
            </textarea>

        
      <!--  {{comment}} << put this code in the textarea one and format --> 
         </form>

        <!-- <input type="submit" value="Start Translation" id="btn3">   -->

      </div>    


     <div style="float:right";>

         <form method="POST" enctype=multipart/form-data>
             <textarea id="textarea2" readonly>

  #This is where your code is going to be translated

         #CoffeeScript Example: 
                 (function() {
                    var greet;
        
         greet = function() {
          return "This is an example of a function";
                    };
                  
                  }).call(this)

             </textarea>
        </form>

     </div>

   <a href="{{ url_for('index') }}" class="btn3">Start Translation</a>

    </div>
    
    <div class="arrow">
        <div class="curve"></div>
        <div class="point"></div>
    </div>

        </div> 
    
    </div>

    <script
    src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js">
    </script>

    <script>
        particlesJS.load('particles-js', 'particles.json',
        function(){
        console.log('particles.json has loaded');

        
    });
    
    </script>

</body>
</html>

