
body{   
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    font-size: 30px;
}

.btext{

    color: #ffffff;
    line-height: 0.8cm;
    position: absolute;
}

h1{
    font-size: 50px;
}

.btn{

    color: #ffffff;
    text-decoration: none;
    border: #ffffff 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 2cm;

}

.btn:hover{
    
    color: #000000;
    border: #cccccc 1px solid;
}
/*items starting from here are page 2 contents*/

h2{
    font-size: 40px;
}

.btn2{

    color: #ffffff;
    text-decoration: none;
    border: #ffffff 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 10cm;
}
.btn2:hover{
    
    color: #000000;
    border: #cccccc 1px solid;
}

.lanSelect{
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.lanSelect select{

    background: #ffffff;
    opacity: 0.5;
    color: #000000;
    padding: 10px;
    width: 500px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    text-align-last: center;
}
/*items starting from here are page 3 contents*/

.btn3{
    position: relative;
    top: 73% ;
    left: 24%;
    width: 50%;
    height: 40px;
    color: #000000;
    background-color: #ffffff77;
    text-decoration: none;
    border: #ffffff 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 10cm;
    text-align: center;
    
}
.btn3:hover{
    
    
    border: #cccccc 1px solid;
}

#box{
    width: 130vh;
    height: 78vh;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #f2f2f262;
    opacity: 0.9;
    padding: 20px; 
    
}

#left {
    width: 16%;
}

#right {
    width: 16%;
}

#textarea1{
    width: 300%;
    height: 70vh;
    color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 4px;
    background-color: #000000;
    font-size: 20px;
    float: left;
    resize:none;
    
    
}
#textarea2{
    width: 300%;
    height: 70.5vh;
    color: #ffffff;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #cccccc;
    border-radius: 4px;
    background-color: #000000;
    font-size: 20px;
    float: right;
    resize: none;   
}


/* Arrow */
#arrowText{
position: absolute;
right: 105%;
bottom: 80%;


}
.arrow {
 position: absolute;
 right: 105%;
 bottom: 57%;
 width: 50px;
 -webkit-transform:rotate(-30deg);
 -moz-transform: rotate(-30deg);
 -ms-transform: rotate(-30deg);
 -o-transform: rotate(-30deg);
 transform: rotate(-30deg);
}

.arrow .curve {
	border: 2px solid #ffffff;
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.925);
	height: 260px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow .point {
	position: absolute;
	left: 28px;
	top: 228px;
}

.arrow .point:before, .arrow .point:after {
	border: 1px solid rgba(255, 255, 255, 0.925);
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
    top: -20px;
	left: 5px;
    transform:rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}




/*For particles and background page elements*/

#particles-js{
width: 100%;
height: 100vh;
background: linear-gradient(to bottom, #da082b 0%, #e04e0a 50%, #cc8a10 100%);
display: flex;
justify-content: center;
align-items: center;
  
} 

